:root {
  --primary-color: rgb(102, 159, 210);
  --secondary-color: rgb(235, 7, 126);
  --accent-color: rgb(216, 232, 245);
}

body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
  margin: 3.5rem 0;
}

.dash-heading {
  text-align: start;
  margin: 0.5rem 0;
}

.primary-color {
  color: var(--primary-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}

.secondary-border {
  border: 1.5px solid var(--secondary-color);
  border-radius: 0 !important;
}

.accent-color {
  color: var(--accent-color) !important;
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.accent-bg {
  background-color: var(--accent-color);
}

.navbar {
  height: 20vh;
}

.full-height-content {
  min-height: 80vh;
}

.nav-link {
  position: relative;
  font-size: 1.21rem;
  font-weight: 500;
  color: var(--primary-color) !important;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--secondary-color) !important;
}

.nav-link.active {
  color: var(--secondary-color) !important;
  border-bottom: 2px solid var(--secondary-color) !important;
}

.admin-nav:hover {
  color: white !important;
}

.admin-nav.active {
  color: white !important;
  border-bottom: 2px solid white !important;
}

.btn {
  border-radius: 20px !important;
}

.slider-image {
  backdrop-filter: blur(2px);
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  text-align: center;
}

.carousel-item {
  position: relative;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.form-group {
  position: relative;
}

.error-bubble {
  position: absolute;
  background: #f8d7da;
  color: #721c24;
  padding: 8px;
  border-radius: 8px;
  font-size: 0.9rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  left: calc(100% + 1rem);
  top: 45%;
  z-index: 10;
  white-space: nowrap;
}

.error-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #f8d7da;
}

.clickable-card {
  transition: transform 0.3s ease;
  border: none !important;
}

.clickable-card:hover {
  transform: scale(1.05);
}

.clickable-card h3,
h5 {
  color: var(--secondary-color) !important;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.stat-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  margin: 0 auto;
  font-size: 2.5em;
}

.pink-circle {
  background-color: var(--secondary-color); /* Use secondary color for the pink circle */
}

.blue-circle {
  background-color: var(--primary-color); /* Use primary color for the blue circle */
}

.white-circle {
  background-color: white; /* White background for the white circle */
  color: var(--primary-color); /* Primary color for the icon inside the white circle */
  border: 2px solid var(--accent-color); /* Accent color border for the white circle */
}

.stat-label {
  margin-top: 10px;
  font-size: 1.1em;
  color: var(--primary-color); 
}

.col-circle:hover {
  transform: scale(2); 
}
